<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-uppercase">Acerca de</h5>
          <p>
           XD
          </p>
        </div>
  
      
        <!-- <div class="col-md-4">
          <h5 class="text-uppercase">Enlaces</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white text-decoration-none">Inicio</a></li>
            <li><a href="#" class="text-white text-decoration-none">Portafolio</a></li>
          </ul>
        </div> -->
  
        <div class="col-md-4">
          <h5 class="text-uppercase">Redes Sociales</h5>
          <div>
            <a href="#" class="text-white me-3"><i class="fab fa-facebook fa-lg"></i></a>
            <a href="#" class="text-white me-3"><i class="fab fa-twitter fa-lg"></i></a>
            <a href="#" class="text-white me-3"><i class="fab fa-instagram fa-lg"></i></a>
          </div>
        </div>
      </div>
      <hr class="border-secondary">
      <div class="text-center">
        <p class="mb-0">© 2025 Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>
  
