<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <!-- Columna "Acerca de" -->
      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <h5 class="text-uppercase">Acerca de</h5>
        <p>Página realizada por Gustavo Alonso Gutierrez 🤓☝</p>
      </div>

      <!-- Columna "Redes Sociales" -->
      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <h5 class="text-uppercase">Redes Sociales</h5>
        <div>
          <a
            href="https://www.facebook.com/share/1BLRxs9LAZ/"
            class="text-white me-3"
            ><i class="fab fa-facebook fa-lg"></i
          ></a>
          <a
            href="https://www.instagram.com/alonso_gtz04?igsh=MTViajdoOTQzaWY5aw=="
            class="text-white me-3"
            ><i class="fab fa-instagram fa-lg"></i
          ></a>
        </div>
      </div>
    </div>
    <hr class="border-secondary" />
    <div class="text-center">
      <p class="mb-0">© 2025 Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
