<nav>
    <table>
        <tr>
            <td>
                <a [routerLink]="['inicio']">
                    <!-- todo <i class="fa-solid fa-house fa-2x"></i>    -->
                    <br>
                    Inicio
                </a>
            </td> 
            <td>
                <a [routerLink]="['portafolio']">
                    <!--todo <i class="fa-solid fa-shoe-prints fa-2x"></i>  -->
                    <br>   
                    Portafolio
                </a>
            </td>           
        </tr>
    </table>
</nav>
