a{
    text-decoration: none;
    font-family: Bungee;
    font-size: 8px;
    color: #ffcc00;
    
}

a:hover{
    color: whitesmoke;
}

table{
    width: 100%;
}

nav{
    background-color: #1a0032;
    padding-top: 5px;
}
 
td{
    text-align: center;
}