<nav class="navbar-expand-lg text-white bg-dark">
  <div class="navbar-nav d-flex justify-content-center">
    <a
      [routerLink]="['inicio']"
      class="nav-link btn btn-outline d-flex align-items-center mx-2"
    >
      <i class="fa-solid fa-house me-2"></i>
      Inicio
    </a>
    <a
      [routerLink]="['portafolio']"
      class="nav-link btn btn-outline d-flex align-items-center mx-2"
    >
      <i class="fa-solid fa-briefcase me-2"></i>
      Portafolio
    </a>
    <a
      [routerLink]="['examen2']"
      class="nav-link btn btn-outline d-flex align-items-center mx-2"
    >
      <i class="fa-solid fa-skull me-2"></i>
      Examen 2
    </a>
  </div>
</nav>
