<nav>
    <table>
        <tr>
            <td>
                <a [routerLink]="['inicio']">
                    <i class="fa-solid fa-house"></i>
                    <br>
                    Inicio
                </a>
            </td> 
            <td>
                <a [routerLink]="['portafolio']">
                    <i class="fa-solid fa-briefcase"></i>
                    <br>   
                    Portafolio
                </a>
            </td>           
        </tr>
    </table>
</nav>
