<!--! Ejercicio 3. Mostrar un texto en pantalla -->
<!-- <p class="fw-bold text-danger">{{texto}}</p> -->

<table class="table">
    <thead>
      <tr>
        <th scope="col" colspan="100%" class="text-center display-6 table-dark">Mi portafolio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td  class="text-center col-md-6 h3 table-dark" >Tema</td>
        <td class="text-center col-md-6 h3  table-dark">Resultado</td>
      </tr>
      <tr>
        <td  class="text-center col-md-6 bg-danger" >Uso de variables</td> 
        <td  class="text-center col-md-6 bg-info" >{{texto}}</td>
      </tr>
      <tr>
        <td  class="text-center col-md-6 bg-danger" >Combinaciones</td> 
        <td  class="text-center col-md-6 bg-info" >{{nombre_completo}}</td>
      </tr>
      <tr>
        <td  class="text-center col-md-6 bg-danger" >Suma</td> 
        <td  class="text-center col-md-6 bg-info" > El resultado de sumar: {{num1}} + {{num2}} = {{resultado_suma}}</td>
      </tr>
      <tr>
        <td  class="text-center col-md-6 bg-danger" >Resta</td> 
        <td  class="text-center col-md-6 bg-info" > El resultado de restar: {{num1}} - {{num2}} = {{resultado_resta}}</td>
      </tr>
      <tr>
        <td  class="text-center col-md-6 bg-danger" >Multiplicacion</td> 
        <td  class="text-center col-md-6 bg-info" > El resultado de multiplicar: {{num1}} x {{num2}} = {{resultado_multi}}</td>
      </tr>
      <tr>
        <td  class="text-center col-md-6 bg-danger" >Division</td> 
        <td  class="text-center col-md-6 bg-info" > El resultado de dividir: {{num1}} ÷ {{num2}} = {{resultado_div}}</td>
      </tr>
    </tbody>
  </table>
