<!--! Ejercicio 3. Mostrar un texto en pantalla -->
<!-- <p class="fw-bold text-danger">{{texto}}</p> -->

<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <th
        scope="col"
        colspan="3%"
        class="text-center display-6 table-dark titulo-tabla"
      >
        Mi portafolio
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center col-4 h3 subtema-tabla">Tema</td>
      <td class="text-center col-4 h3 subtema-tabla">Descripcion</td>
      <td class="text-center col-4 h3 subtema-tabla">Resultado</td>
    </tr>
    <tr>
      <!--* EJERCICIO 1 -->
      <td class="col-4 contenido-tabla">1. Uso de variables</td>
      <td class="col-4 contenido-tabla">
        Recibe un texto y lo muestra en pantalla
      </td>
      <td class="col-4 contenido-tabla">
        <form>
          <div class="form-group">
            <label>¿Cual es tu nombre?</label>
            <input
              type="text"
              class="form-control w-50"
              name="text"
              [(ngModel)]="texto"
              placeholder="Ingresa tu nombre"
            />
            <button
              type="button"
              class="btn btn-secondary mt-2"
              (click)="saludar()"
            >
              Saludar
            </button>
          </div>
          <div class="alert alert-danger mt-3" role="alert">
            <p>Resultado: {{ saludo }}</p>
          </div>
        </form>
      </td>
    </tr>
    <!--* EJERCICIO 2 -->
    <tr>
      <td class="col-4 contenido-tabla">2. Combinaciones</td>
      <td class="col-4 contenido-tabla">
        Recibe nombre y apellidos para concatenarlos
      </td>
      <td class="col-4 contenido-tabla">
        <form>
          <div class="form-group">
            <label>Escribe tu nombre</label>
            <input
              type="text"
              class="form-control w-50"
              name="text"
              [(ngModel)]="nombre"
              placeholder="Ingresa tu nombre"
            />
            <label>Escribe tu apellido</label>
            <input
              type="text"
              class="form-control w-50"
              name="text"
              [(ngModel)]="apellido"
              placeholder="Ingresa tu apellido"
            />
            <button
              type="button"
              class="btn btn-secondary mt-2"
              (click)="saludo_nombre_completo()"
            >
              Saludar
            </button>
          </div>
          <div class="alert alert-danger mt-3" role="alert">
            <p>Resultado: {{ nombre_completo }}</p>
          </div>
        </form>
      </td>
    </tr>
    <!-- <tr>
      <td class="text-center col-4 bg-danger">3. Suma</td>
      <td class="text-center col-4 bg-danger">
        Recibe dos numeros y realiza una suma
      </td>
      <td class="text-center col-4 bg-info">
        El resultado de sumar: {{ num1 }} + {{ num2 }} = {{ resultado_suma }}
      </td>
    </tr>
    <tr>
      <td class="text-center col-4 bg-danger">4. Resta</td>
      <td class="text-center col-4 bg-danger">
        Recibe dos numeros y realiza una resta
      </td>
      <td class="text-center col-4 bg-info">
        El resultado de restar: {{ num1 }} - {{ num2 }} = {{ resultado_resta }}
      </td>
    </tr>
    <tr>
      <td class="text-center col-4 bg-danger">5. Multiplicacion</td>
      <td class="text-center col-4 bg-danger">
        Recibe dos numeros y realiza una multiplicacion
      </td>
      <td class="text-center col-4 bg-info">
        El resultado de multiplicar: {{ num1 }} x {{ num2 }} =
        {{ resultado_multi }}
      </td>
    </tr>
    <tr>
      <td class="text-center col-4 bg-danger">6. Division</td>
      <td class="text-center col-4 bg-danger">
        Recibe dos numeros y realiza una division
      </td>
      <td class="text-center col-4 bg-info">
        El resultado de dividir: {{ num1 }} ÷ {{ num2 }} = {{ resultado_div }}
      </td>
    </tr> -->
    <!--* EJERCICIO 3 -->
    <tr>
      <td class="col-4 contenido-tabla">
        3. Convertir grados farenheit a celsius
      </td>
      <td class="col-4 contenido-tabla">
        Agrega una variable en la cual asignes un valor con la temperatura en
        grados farenheit y en otra variable nos de la conversion en grados
        celsius.
      </td>
      <td class="col-4 contenido-tabla">
        <form>
          <div class="form-group">
            <label>Ingresa la cantidad de grados farenheit</label>
            <input
              type="text"
              class="form-control w-50"
              name="text"
              [(ngModel)]="gfarenheit"
              placeholder="Grados farenheit"
            />
            <button
              type="button"
              class="btn btn-secondary mt-2"
              (click)="calculo_grados()"
            >
              Calcular grados
            </button>
          </div>
          <div class="alert alert-danger mt-3" role="alert">
            <p>
              Tus grados farenheit {{ gfarenheit }} convertidos a celsius son:
              {{ gcelsius }}
            </p>
          </div>
        </form>
      </td>
    </tr>
    <!--* EJERCICIO 4 -->
    <tr>
      <td class="col-4 contenido-tabla">4. Condicionales</td>
      <td class="col-4 contenido-tabla">
        A. Solicitar al usuario su género, dependiendo de su eleccion mostrar un
        mensaje
      </td>
      <td class="col-4 contenido-tabla">
        <form>
          <div class="form-group">
            <label>Por favor selecciona tu género</label>
            <select
              name="genero"
              class="form-control w-50"
              [(ngModel)]="genero"
            >
              <option value="1">Masculino</option>
              <option value="2">Femenino</option>
            </select>
            <button
              type="button"
              class="btn btn-secondary mt-2"
              (click)="generos()"
            >
              Aceptar
            </button>
          </div>
          <div class="alert alert-danger mt-3" role="alert">
            <p>Resultado: {{ mensaje_genero }}</p>
          </div>
        </form>
      </td>
    </tr>
    <tr>
      <!--* EJERCICIO 5 -->
      <td class="col-4 contenido-tabla">5. Calificaciones</td>
      <td class="col-4 contenido-tabla">
        B. Solicitar al usuario una calificacion del 0-100. Mostrar un mensaje
        segun la nota
      </td>
      <td class="col-4 contenido-tabla">
        <form (ngSubmit)="clasificar_calificacion()">
          <div class="form-group">
            <label for="calificacion">Ingresa tu calificación:</label>
            <input
              type="number"
              class="form-control w-50"
              id="calificacion"
              [(ngModel)]="calificacion"
              name="calificacion"
              required
            />
          </div>
          <button type="submit" class="btn btn-secondary mt-2">Evaluar</button>
          <div class="alert alert-danger mt-3" role="alert">
            <p>Resultado: {{ resultado_calificacion }}</p>
          </div>
        </form>
      </td>
    </tr>
    <!--* EJERCICIO 7 -->
    <tr>
      <td class="col-4 contenido-tabla">6. Seleccion de operaciones</td>
      <td class="col-4 contenido-tabla">
        C. Solicitar dos numeros al usuario (por medio de un formulario) y
        darles la opcion de sumar, restar, multiplicar y dividir dichos numeros
        ademas mostrar el resultado
      </td>
      <td class="text-center col-4 contenido-tabla">
        <form (ngSubmit)="operar()">
          <div class="container">
            <div class="row">
              <div class="col-6 p-1">
                <label for="inputnum1" class="form-label">Primer número</label>
                <input
                  type="number"
                  class="form-control"
                  id="inputnum1"
                  [(ngModel)]="numero1"
                  name="numero1"
                  required
                />
              </div>
              <div class="col-6 p-1">
                <label for="inputnum2" class="form-label">Segundo número</label>
                <input
                  type="number"
                  class="form-control"
                  id="inputnum2"
                  [(ngModel)]="numero2"
                  name="numero2"
                  required
                />
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <label for="operacion" class="form-label"
                  >Seleccione una operación</label
                >
                <select
                  class="form-select"
                  [(ngModel)]="operacion"
                  name="operacion"
                  required
                >
                  <option value="suma">Suma</option>
                  <option value="resta">Resta</option>
                  <option value="multiplicacion">Multiplicación</option>
                  <option value="division">División</option>
                </select>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12 text-center">
                <button type="submit" class="btn btn-secondary w-50">
                  Calcular
                </button>
              </div>
            </div>
            <div class="alert alert-danger mt-3" role="alert">
              <p>Resultado: {{ resultado }}</p>
            </div>
          </div>
        </form>
        <!-- <div class="container">
          <div class="row">
            <div class="col-6 p1">
              <label for="inputnum1">Primer numero</label>
              <input
                type="number"
                class="form-control"
                id="inputnum1"
                [(ngModel)]="numero1"
              />
            </div>
            <div class="col-6 p1">
              <label for="inputnum2">Segundo numero</label>
              <input
                type="number"
                class="form-control"
                id="inputnum2"
                [(ngModel)]="numero2"
              />
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-6 p-1">
              <button
                type="button"
                class="btn btn-secondary w-100"
                (click)="operar('suma')"
              >
                Suma
              </button>
            </div>
            <div class="col-6 p-1">
              <button
                type="button"
                class="btn btn-secondary w-100"
                (click)="operar('resta')"
              >
                Resta
              </button>
            </div>
            <div class="col-6 p-1">
              <button
                type="button"
                class="btn btn-secondary w-100"
                (click)="operar('multiplicacion')"
              >
                Multiplicacion
              </button>
            </div>
            <div class="col-6 p-1">
              <button
                type="button"
                class="btn btn-secondary w-100"
                (click)="operar('division')"
              >
                Division
              </button>
            </div>
            <h3>Resultado: {{ resultado }}</h3>
          </div>
        </div> -->
      </td>
    </tr>
    <tr>
      <td class="col-4 contenido-tabla">Arreglos</td>
      <td class="col-4 contenido-tabla">
        <p>Mostrar una lista de elementos del arreglo</p>
      </td>
      <td class="col-4 contenido-tabla">
        <form>
          <div class="form-group">
            <label>¿Cual es el nombre de los alumnos?</label>
            <input
              type="text"
              class="form-control w-50"
              name="text"
              [(ngModel)]="alumno"
              placeholder="Ingresa el nombre"
            />
            <button
              type="button"
              class="btn btn-secondary mt-2"
              (click)="agregar()"
            >
              Agregar
            </button>
          </div>
          <div class="alert alert-danger mt-3" role="alert">
            <ul *ngFor="let a of alumnos">
              <li>{{ a }}</li>
            </ul>
          </div>
        </form>
      </td>
    </tr>
    <!--* SEGUNDO ARRAY -->
    <tr>
      <td class="col-4 contenido-tabla">Arreglos 2</td>
      <td class="col-4 contenido-tabla">
        <p>
          Mostrar una lista de numeros telefonicos (tipo de dato numerico) a un
          arreglo. Y limpiar el campo de entrada cada vez que se agrega uno
          nuevo
        </p>
      </td>
      <td class="col-4 contenido-tabla">
        <form>
          <div class="form-group">
            <label>Ingresa el numero telefonico</label>
            <input
              type="text"
              inputmode="numeric"
              pattern="\d*"
              maxlength="10"
              class="form-control"
              [(ngModel)]="numero_telefonico"
              name="numero_telefonico"
              (input)="validar_telefono()"
            />
            <div *ngIf="mensaje_error" class="text-danger mt-2">
              <small>{{ mensaje_error }}</small>
            </div>
            <button
              type="button"
              class="btn btn-secondary mt-2"
              (click)="agregar_telefono()"
            >
              Agregar
            </button>
          </div>
          <div class="alert alert-danger mt-3" role="alert">
            <ul *ngFor="let n of numeros_telefonicos">
              <li>{{ n }}</li>
            </ul>
          </div>
        </form>
      </td>
    </tr>
  </tbody>
</table>
